@import "tailwindcss";

/* ONLY DARK MODE, NO LIGHT MODE. */
@theme {
    --color-main: #F2F2F0;
    --color-black: #28282B;
    --background-image-void: linear-gradient(90deg,rgba(18, 18, 18, 1) 0%, rgba(0, 0, 0, 1) 75%);
    --color-select: #5C5C51;
    --color-ui: #F2F2F0;
    --font-ui: 'Cal Sans';
}

@layer {
      
    .nav {
        @apply flex items-center w-full;
        @apply text-ui font-ui;
    }
        
    .page {
        @apply min-h-screen w-full;
        @apply flex flex-col;
        @apply text-ui font-ui;
        @apply bg-void;
    }

    .foo {
        @apply text-ui font-ui;
    }
}

::selection {
    color: var(--color-ui);
    background-color: #000000;
}

@font-face {
    font-family: 'Cal Sans';
    src: url('../assets/fonts/CalSans-Regular.ttf');
}

